on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:
name: CI
jobs:
  flatpak:
    name: "Flatpak Builder"
    permissions:
      contents: read
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/flathub-infra/flatpak-github-actions:kde-6.10
      options: --privileged
    steps:
    - uses: actions/checkout@v4
    - uses: flatpak/flatpak-github-actions/flatpak-builder@v6
      with:
        bundle: modorganizer.flatpak
        manifest-path: flatpak/org.bhoehn.modorganizer.json
        cache-key: flatpak-builder-${{ github.sha }}
